<div id = "homepage">
  <ol class="post-list">
    {{#each posts as |post|}}
    <li>
      {{> post-info post }}
    </li>
    {{/each}}
  </ol>
</div>

{{#if loggedIn}}
<h3>
  <a href = "/dashboard">
    Create a new post!
  </a>
</h3>
{{else}}
<h3>
  You must 
  <a href = "/login">
    login
  </a> 
  or 
  <a href = "/signup">
    sign-up 
  </a>
  to contribute to codeBloggers.
</h3>
{{/if}}