* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: #50b767;
    font-weight: bold;
    transition: color .1s;
    padding: 10px;
  }
  
  a:hover {
    color: #888888;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  }
  
  header h1 {
    font-size: 2em;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }